
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron", style="text-align:center">
      	<h1 style="font-size:50px;">  Accountability  </h1> 
		<h3> <font color = "#4e5a68"> Acknowledgemend </font> </h3>
      </div>
    
    
    <div class="page-header">
        <h1> <font color = "#4e5a68"> Source of Dataset </font> </h1>
        <p><font size = "4" face="verdana" color="#5f5f5f"> 
        
        The data is collected by AWARE, which captures hardware and human-based data. The data was collected from my personal iphone from Feb 18th to Feb 25th. I used my second mobile phone for data collection instead of my primary one. 
        
        </font></p>
    </div>
    

    <div class="page-header">
        <h1> <font color = "#4e5a68"> Accessibility of the Dataset </font> </h1>
        <p><font size = "4" face="verdana" color="#5f5f5f"> 
        
        I have the full control over the study, and the data is about my personal mobile phone usage. Therefore, I should be the only one who is able to access the dataset. However, while AWARE claims that they "do not log personal information, such as phone numbers or contacts information", it is not clear if they can access the usage data of individuals. 
		</font></p>
        
    </div>
    
    
    <div class="page-header">
        <h1> <font color = "#4e5a68"> Summary of the Dataset </font> </h1>
        

        
        <p><font size = "4" face="verdana" color="#5f5f5f"> 
        The data is collected from my second phone from Feb 18th to Feb 25th, which is mainly used for entertainment, twitter, Instagrams, etc. (I use my primary phone only for work and study for the sake of self control). 
		The analysis focuses on 3 sensors battery, screen, and wifi. Interesting variables include </br>
		
        </br>
        <b> Battery Level </b>  - Battery level in range 0 to 100  </br>
		<b> Wifi </b> -  There are 3 possibilities to 1) the phone connects to CMU-SECURE when at school or 2) connects to AntiNeuralNetwork (this is the name of my home wifi) or xfinitywifi when at home 3) None if no wifi is available </br>
		<b> Screen Status </b>  - one of the following: 0=off, 1=on, 2=locked, 3=unlocked </br>
		<b> Timestamp </b> - the timestamp in format '%Y-%m-%d %H:%M:%S' for the collected data </br>		 	
		</font></p>
		
		Note that consecutive data with exactly the same time stamps are marked as duplicates,  are removed during data pre-processing. 
    </div>
        

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
